{% extends "../base.html" %}
{% load static %}

{% block title %}Reset your password{% endblock %}
{% block styleblock %}
    <link rel="stylesheet" href="{% static 'css/account/password_reset_done.css' %}">
{% endblock %}

{% block main %}
    <div class="info">
        <p>Мы отправили Вам инструкцию по восстановлению пароля. Если Вы не получили письмо,
        убедитесь пожалуйста, что Вы ввели email с которым Вы регистрировались.</p>
    </div>
    <div id="lottie"></div>
{% endblock %}
{% block scriptjs %}
    <script src="{% static 'js/animation/sentemail1.js' %}"></script>
    <script src="{% static 'js/animation/sentemail2.js' %}"></script>
{% endblock %}