.container{
    margin-top: 10%;
}

.user_card {
    height: 450px;
    width: 450px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: #343a40 !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #343a40 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input-group-append{
    height: 38px;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #343a40 !important;
}

.errors{
    display: none;
}

div .alert-light{
    color: #CC3434;
    position: absolute;
    top: 20%;
    left: 15%;
}

label{
    margin-bottom: 0 !important;
    height: 37px !important;
}
.input-group{
    height: 37px !important;
}

.text{
    text-align: center;
}

.list-heading{
    font-size: 110%;
    margin-left: 100px;
}

ul{
    margin-left: 70px;
}

li{
    color: #d71e1e;
    margin-left: 20px;
}

h2{
    text-align: center;
}