.info{
    width: 900px;
    margin: 90px auto;
    font-size: 22px;
}

#lottie{
    width: 45%;
    height: 45%;
    display: block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    margin: -200px auto 0;
}