.container-not{
    margin: 110px auto 0;
}

.container-wrap{
    width: 930px;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 20px 0 0 20px;
    background-color: white;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.form{
    margin: 0 0 30px 20px;
}

.wrap-inside{
    width: 800px;
}

.flex-inside{
    display: flex;
}

.title-author{
    margin-left: 35px;
}

.title-author button{
    margin-top: 109px;
}

.flex-author{
    color: #4e4e4e;
}

.image-book{
    width: 215px;
    height: 300px;
    border: 1px solid #e7e7e7;
}

.flex-decription{
    margin-top: 50px;
}

.form-input{
    margin-top: 20px;
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.form-input:focus {
    outline: none;
    border-bottom: 2px solid #5264AE;
}

.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover,
.form-input:-webkit-autofill:focus,
.form-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 100px white inset !important;
}

.title-author select{
    margin-top: 55px;
}

.subtitle{
    margin: 75px 0 40px;
    text-align: center;
}

.text{
    margin-top: 25px;
}

.mybtn{
    margin: 30px 0;
}

.image{
    position: relative;
}

.image:hover img{
    opacity: 0.6;
}

.add_image{
    position: absolute;
    top: 40%;
    left: 10px;
    font-size: 22px;
    font-weight: 600;
    opacity: 0;
}

.image:hover .add_image{
    opacity: 1;
}

.image-input{
    width: 215px;
    height: 300px;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}




