.container-not{
    margin: 110px auto 0;
}

.container-wrap{
    width: 930px;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 20px 0 0 20px;
    background-color: white;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
}

label{
    display: none !important;
}

.form{
    margin: 0 0 30px 20px;
}

.wrap-inside{
    width: 800px;
}

.flex-inside{
    display: flex;
}

.title-author{
    margin-left: 35px;
}

.title-author button{
    margin-top: 109px;
}

.flex-author{
    color: #4e4e4e;
}

.image-book{
    width: 215px;
    height: 300px;
    border: 1px solid #e7e7e7;
}

.flex-description{
    margin-top: 50px;
}

.flex-description p{
    max-width: 890px;
    text-align: justify;
}

.comment-row::before{
    display: block;
	content: "";
	height: 100px;
	margin: -100px 0 0;

}

/*Rating*/
.form__margin{
    margin: 30px 0 30px 0;
}

.form__item{
    margin: 0 0 30px 0;
}

.rating{
    display: flex;
    align-items: flex-end;
    font-size: 40px;
    line-height: 0.75;
}

.rating__body{
    position: relative;
}

.rating__body::before{
    content: "★★★★★";
    display: block;
}

.rating__active{
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating__active::before{
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffd300;
}

.rating__items{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rating__item{
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.rating__value{
    font-size: 50%;
    line-height: 1;
    padding: 0 0 0 10px;
}

/*Comments*/

.card-no-border .card {
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.02);
}

.comment-widgets .comment-row {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    padding: 15px;
}

.comment-text:hover {
    visibility: hidden;
}

.comment-text:hover {
    visibility: visible;
}

.round img {
    border-radius: 100%;
}

.action-icons a {
    padding-left: 7px;
    vertical-align: middle;
    color: #99abb4;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-40{
    margin-top: 40px;
}

.d-flex{
    position: relative;
}

p{
    max-width: 780px;
}

