@import "~materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;
  padding: 0;
}

.input-field>label {
  pointer-events: none;
}


.todo {
  margin-bottom: 1rem;
}

.todo.is_done span {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #f3f3f3;
  padding: 1rem;

}

.todo i {
  z-index: 2;
}

.fa-trash{
  color: #b43c3c;
  font-size: 20px;
}

